:root{
     /* Primary */

--Dark-Blue: hsl(240, 38%, 20%);
--Grayish-Blue: hsl(240, 18%, 77%);

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 22px;
    font-family: 'Inter', sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
}
.content{
    width: 15em;
    margin: auto;
    display: flex;
    align-items: center;

   overflow: hidden; 

}
.content-slider{
    display: flex;
    position: relative;
    margin-left: 0;

}
.Slider{
    width: 30em;
    height: 58em;
    font-size: 0.5em;
    font-size: 0.5em;
    box-shadow: 0px -4px 7px -3px var(--Grayish-Blue);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    background-image: url("../images/pattern-curve.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 8%;


}
.slider-top{
    width: 100%;
    height: 41.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../images/pattern-bg.svg");
    background-size: 90% 90%;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 0.93em;

}

.card_img{
    width: 21.3em;
    border-radius: 10px;
}
.content-botons{
    position: relative;
    top: -1.8em;
    width: 7em;
    height: 3.5em;
    background-color: white;
    border-radius: 38px;
    display: flex;
    border: 0px solid white;
    justify-content: center;
    align-items: center;
    color: var(--Dark-Blue);
    font-size: 1.2em;
}
.botton{
    background-color: white;
    border: 0px solid white;
    color: var(--Grayish-Blue);
    margin: 0px 0.5em;
    cursor: pointer;
    font-size: 1.8em;

}

.slider-bottom{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1.43em;
    color: var(--Dark-Blue);
    width: 100%;
    height: 21.5em;
    background-image: url(../images/pattern-quotes.svg);
    background-size: 3.5em 3.5em;
    background-repeat: no-repeat;
    background-position: center top;
    font-size: 1.5em;
}
.bottom-description{

    font-weight: 300;
}
.content-data{
    margin: 1.5em 0;
    font-size: 1em;

}
.name{
    font-weight: 700;
    font-size: 1.5em;
}
.job{
    font-weight: 300;
    color: var(--Grayish-Blue);
    font-size: 0.9em;
    margin: 0.1em 0;

}

@media (min-width: 1000px) {
    .Slider{
        flex-direction: row-reverse;
        width: 70em;
        align-items: center;
        height: 41em;
        background-position: bottom left;
        background-size: 50% 15%;
    }
    .content{
        width: 34em;
 
    }
    .slider-top{
        height: 34.5em;
        background-size: 100% 100%;
         padding-top: 3em;
         position: relative;
    left: -40px;
    }
    .slider-bottom{
        background-position: 4em 5em;
        padding-top: 3em;
        text-align: start;
        align-items: flex-start;
        font-size: 1.65em;
        position: relative;
        right: -50px;
        z-index: 2;
        padding: 3em 0em 0em 1.5em; 

    }
    .content-data{
        display: flex;
        align-items: center;
        font-size: 0.8em;

    }
    .job{
        margin: 0 0.5em;
    }
    .card_img{
        width: 25.3em;

    }
    .content-botons{
        font-size: 0.8em;
        align-self: flex-start;
        margin-left: 9em;
    }
  }