:root{
     /* Primary */

--Dark-Blue: hsl(240, 38%, 20%);
--Grayish-Blue: hsl(240, 18%, 77%);

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 32px;
    font-family: 'Inter', sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
}
.content{
    width: 14.5em;
    margin: auto;
    height: 34.3em;
    display: flex;

    overflow: hidden; 

}
.content-slider{
    display: flex;
    position: relative;
    margin-left: 0;

}
.Slider{
    width: 29em;
    height: 100%;
    font-size: 0.5em;
    height: 100%;
    font-size: 0.5em;
    box-shadow: 0px -4px 7px -3px var(--Grayish-Blue);
    border-radius: 6px;}
.slider-top{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../images/pattern-bg.svg");
    background-size: 90% 90%;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 0.93em;

}

.card_img{
    width: 24.3em;
    border-radius: 10px;
}
.content-botons{
    position: relative;
    top: -1.8em;
    width: 7em;
    height: 3.5em;
    background-color: white;
    border-radius: 38px;
    display: flex;
    border: 0px solid white;
    justify-content: center;
    align-items: center;
    color: var(--Dark-Blue);
    font-size: 1.2em;
}
.botton{
    background-color: white;
    border: 0px solid white;
    color: var(--Grayish-Blue);
    margin: 0px 0.5em;
    cursor: pointer;
    font-size: 1.8em;

}

.slider-bottom{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1.43em;
    color: var(--Dark-Blue);
    width: 100%;
    height: 50%;
    background-image: url(../images/pattern-quotes.svg);
    background-size: 2.5em 2.5em;
    background-repeat: no-repeat;
    background-position: center top;
    font-size: 1.5em;
}
.bottom-description{
    margin-top: 1.25em;

    font-weight: 300;
}
.content-data{
    margin: 1.5em 0;
    font-size: 1em;

}
.name{
    font-weight: 700;
    font-size: 1.5em;
}
.job{
    font-weight: 300;
    color: var(--Grayish-Blue);
}