:root{
     /* Primary */

--Dark-Blue: hsl(240, 38%, 20%);
--Grayish-Blue: hsl(240, 18%, 77%);

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 32px;
    font-family: 'Inter', sans-serif;
    height: 100vh;
}
.content{
    width: 325px;
    border: 1px solid black;
    margin: auto;
    height: 550px;
    
}
.content-slider{
    display: flex;
    position: absolute;
    margin-left: 0;

}
.Slider{
    width: 325px;
    height: 100%;
    border: 1px solid salmon;
    font-size: 0.5em;
}
